@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

table {
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}
caption {
   padding: 0.3em;
   color: #fff;
   background: #000;
}
th {
   background: #eee;
}

.console-log-div {
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
  width: 93% !important;
  background-color: #efefef;
}
        
.cuadro {
  border-style:solid;
  border-color:#287EC7;
  padding:20;
  text-align: center;
  margin: 20;
  box-sizing: content-box;
}

.cuadroAdmin {
  border-style:solid;
  border-color:#287EC7;
  padding:5;
  text-align: center;
  margin: 5;
  box-sizing: content-box;
}

.column {
  float: left;
  width: 70%;
}

.column-half40 {
  float: left;
  width: 46%;
}

.column-half {
  float: left;
  width: 50%;
}

.column-third {
  float: left;
  width: 25%;
}

.column-portada {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.cursiva {
  font-style: italic;
}

.izquierda {
  text-align: left;
}

.centrado {
  text-align: center;
}

.derecha {
  text-align: right;
}

.label {
  color: white;
  padding: 8px;
  font-family: Arial;
  
}

.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.err {background-color: #f44336;} /* Red */ 
.other {background-color: #e7e7e7; color: black;} /* Gray */ 
